.toppage {
  display: flex;
  align-items: center;
  height: 700px;
}

.top {
  text-align: center;
}

.col-md-8 {
  width: 60%;
  text-align: center;
  margin: 0 auto; 
  margin-bottom: 30px;
  padding-left: 20px;
}

.total_price {
  text-align: center;
  font-size: 15px;
}

.sub_bar{
  width: 40%;
  padding: 0 60px;
}

.timeline01 {
  max-width: 650px;
  margin: 0 auto;
}

.mb-5 {
  margin-bottom: 80px;
}

.timeline01 .list {
  padding-left: 32px;
  padding-bottom: 32px;
  counter-increment: section;
  position: relative;
}

.timeline01 .list:last-child {
  padding-bottom: 8px;
}

.timeline01 .list::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #4a69b8;
  position: absolute;
  top: 0;
  left: 0;
}

.timeline01 .list::after {
  content: counter(section, decimal-leading-zero);
  font-size: 14px;
  font-weight: bold;
  background-color: #4a69b8;
  color: #fff;
  text-align: center;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -14px;
}

.timeline01 .title {
  color: #4a69b8;
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 14px;
  text-align: left;
}

.timeline01 .content {
  text-align: left;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .timeline01 {
    width: 80%;
  }
}