h1{
  text-align: center;
}

.income-main{
  height: 1000px;
  padding: 70px 0;
}

.income-form{
  background-color: #F2F2F3;
  width: 600px;
  height: 600px;
  border-radius: 5px solid;
  padding: 70px 60px;
  margin: 0 auto;  
}

.form-tag{
  margin-bottom: 10px;
  width: 100px;
}