.header {
  display: flex;
  height: 150px;
  align-items: center;
  background-color: #6FD2E1;
}

.heading,
.navbar {
  flex: 1; 
  width: 100%;
  margin-right: 40px;
}

.logo{
  font-size: 60px;
  font-weight: 200;
  text-align: center; 
  font-family: 'Allura', cursive;
  font-family: 'Lobster', sans-serif;
  font-family: 'Parisienne', cursive;
}

.header a{
  text-decoration: none;
  color: black;

}
.body-bg{
  font-family: 'Allura', cursive;
  font-family: 'Lobster', sans-serif;
  font-family: 'Parisienne', cursive;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.nav-lists{
  display: flex;
  height: 80px;
  list-style: none;
}


.nav-lists__header{
  display: flex;
  padding-left: 60px;
  align-items: end;
}

.nav-lists__header a{
  font-size: 18px;
}

.nav-lists__list{
  line-height: 100px;
  list-style: none;
}

.btn-menu {
  position: fixed;
  right: 40px; 
  top: 30px; 
  z-index: 4; 
  padding: 8px 16px; 
  border: 1px solid var(--brown); 
  border-radius: 50%; 
  height: 64px; 
  width: 64px; 
  transition: 1s; 
}

.btn-menu svg {
  fill: var(--brown); 
  margin-top: 4px; 
  height: 32px;
  width: 32px; 
}

/* 閉じるボタン */
#menu-close {
  border: 1px solid var(--light-green);
}
#menu-close svg {
  fill: var(--light-green);
}

/* スライドメニューパネル */
#menu-panel {
  position: fixed; 
  top: 0; 
  right: 0; 
  z-index: 4; 
  padding: 144px 32px 32px; 
  width: calc(50vw - 64px); 
  max-width: 320px; 
  height: 100vh; 
  background-color: var(--brown); 
  box-shadow: 0 0 32px var(--brown); 
  font-family: var(--oswald-font); 
  translate: 100vw; 
  background-color: black
}

.menu-list {
  list-style: none; 
}

.menu-list li {
  margin: 8px 0; 
  opacity: 0; 
}

.menu-list a {
  text-decoration: none; 
  font-size: 28px; 
  color: white;
}

footer.footer01 {
  padding-top: 10px;
  background: #6FD2E1;
  height: 100px;

}

.footer-container {
  margin: 0 auto;
}



nav.nav ul.item {
  display: flex;
  justify-content: center;
}

nav.nav ul.item li.list {
  padding-left: 24px;
}

nav.nav ul.item li.list a {
  font-weight: bold;
  color: black;
  font-size: 14px;
}

p.copyright {
  text-align: center;
  color: black;
  background-color: #6FD2E1;
  width: 100%;
}


@media (max-width: 1024px) {

}

@media (max-width: 599px) {
  .nav-lists__header a{
    font-size: 12px;
  }

  .logo{
    font-size: 30px;
    font-weight: 200;
  }

  .nav-lists__header{
    padding-left: 20px;
  }
}