.header{
  background-color: #aef4ed;
  display: flex;
  justify-content: space-between;
  width: 1900px;
  padding: 0 100px 0 30px;  
  height: 150px;
}

.logo{
  font-size: 36px;
  font-weight: 600;
  line-height: 100px;
}

.header a{
  text-decoration: none;
  color: #000000;
}

.nav-lists{
  display: flex;
  height: 80px;
  list-style: none;
}

.nav-lists__list{
  margin-left: 70px;
  font-size: 22px;
  font-weight: 600;
  line-height: 100px;
  list-style: none;
}