h1{
  text-align: center;
}

.expense-main{
  height: 1200px;
  padding: 70px 0;
}

.expense-form{
  background-color: #F2F2F3;
  width: 850px;
  height: 800px;
  border-radius: 5px solid;
  padding: 70px 60px;
  margin: 0 auto;  

}

.form-text-wrap{
  margin-bottom: 10px;
  width: 100px;
}

.buy-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  align-items: center;
}
.buy-btn{
  padding: 8px 80px;
  border-radius: 50px;
  background-image: linear-gradient(
    130deg,
    rgb(67, 248, 248),
    rgb(243, 248, 250)
  );
  background-size: 200% 100%;
  transition: all 0.5s;
}

.buy-btn span {
  display: inline-block;
  font-family: Oswald;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: black;
  transition: all 0.25s;
}

.buy-btn:hover {
  background-position: 100% 0;
}

.buy-btn:hover span {
  transform: scale(1.1);
}