.registration{
  display: block;
}


h2, h3{
  text-align: center;
  padding-top: 20px;
}

p{
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.registration-main{
  width: 100%;
  min-width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

/* フォーム部分 */

.session-form-wrap{
  width: 50%;
  background-color: #f5f5f5;
  padding: 40px 0 0 0;
  margin-top: 20px;
  height: 450px;
}

.registration-form-wrap{
  width: 50%;
  background-color: #f5f5f5;
  padding: 40px 0 0 0;
  margin-top: 20px;
  height: 800px;
}


ul {
  list-style: none;
  padding-left: 0; 
}

.form-text-wrap {
  width: 100%;
  height: 20%;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-text {
  font-size: 20px;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  height: 40px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
  margin-bottom: 20px;
}


.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* 必要に応じて適切な余白を追加 */
}

.btn {
  display: block; 
  margin: 0 auto; 
  margin-top: 40px; 
  width: 140px;
  height: 50px;
  background-color: #6FD2E1;
  border-radius: 6px;
  border: none;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  position: relative;
  transition: .2s;
}

.btn .text {
  display: block;
  transition: .28s;
}
.btn .icon {
  width: 10px;
  height: 10px;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}
.btn:hover {
  border-radius: 50%;
  background-color: #333;
  width: 50px;
  cursor: pointer;

}
.btn:hover .text {
 opacity: 0;
}
.btn:hover .icon {
opacity: 1;
transition-delay: .3s;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}

.actions a {
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 140px;
  height: 50px;
  background-color: #6FD2E1;
  border-radius: 6px;
  border: none;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-align: center; 
  line-height: 50px; 
  position: relative;
  transition: .2s;
  text-decoration: none; 
}

.actions a:hover {
  border-radius: 50%;
  background-color: #333;
  width: 50px;
  cursor: pointer;
}

.actions a:hover .text {
  opacity: 0;
}

.actions a:hover .icon {
  opacity: 1;
  transition-delay: .3s;
}

.timeline02 mb-5{
  margin: 0 auto;
}

.timeline02 {
  max-width: 780px;
  margin: 0 auto;
  padding: 1.5rem;
  /* background-color: #f9f9f9; */
  width: 60%;
}

.mb-5 {
  margin-top: 5rem;
}

.timeline02 .container {
  display: flex;
  padding: 1.5rem 0;
  margin: 0 auto;
}

.timeline02 .list {
  min-width: 45%;
  padding-top: 1.6rem;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
  counter-increment: section;
  position: relative;
}

.timeline02 .title{
  text-align: left;
}
.timeline02 .content{
  text-align: left;
  font-size: 16px;
}

.timeline02 .list:last-child {
  padding-right: 0;
}

.timeline02 .list::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #d3d4d7;
  position: absolute;
  top: 0;
  left: 0;
}

.timeline02 .list::after {
  content: counter(section, decimal-leading-zero);
  font-size: 0.9rem;
  font-weight: bold;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  color: #fff;
  border-radius: 30px;
  padding: 5px 8px;
  position: absolute;
  top: -0.8rem;
  left: 0;
}

.timeline02 .title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.registration .container{
  display: flex;
  justify-content: center;
}